/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

[type=text], [type=number], textarea.form-control, select.form-control,
[type=submit], [type=file],label {
    font-size: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.addItemCard,.viewItemCard {
    font-size: 15px;
    padding: 2% 1%;
}

#pagesDiv
{
    margin:auto;
}

.page-button, a:hover{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.product #ItemName {
    font-size: 20px;
}

.product span,a {
    font-size: 15px;
}

.product button {
    font-size: 15px;
    margin:0px 5px;
}

.product .itemRows div {
    margin:0px 0px 10px 0px;
}

#ManageItem
{
    color:white;
    display:flex;   
    padding:0px 15px;
}

.product .categoryLink
{
    display:flex;
}
